.statsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.clockSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 520px) {
  .statsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .clockSection {
    grid-column: 1/-1;
    margin: 0 auto;
  }
}
